<h2 style="text-align: center">
  Details of <%= @user_name%>
</h2>

<h3><b>Tweets from twitter</b></h3>
<p><%= display_tweets %></p>

<h3><b>Details from github.com</b></h3>
<p><%= display_github_info %></p>

<h3><b>Details from rubygems.org</b></h3>
<p><%= display_rubygems_info %></p>
