<%= form_tag('user_detail/details', :method => :post) do %>
  <h1><%= text_field_tag :user_name, nil, :placeholder => 'Enter the username here', :style => 'margin-bottom: 0px'%>
  <%= submit_tag 'Search', {:class => 'btn btn-primary'} %></h1>
<% end %>
